<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script defer type="module">
      for (let i = 1; i <= 2; i++) {
        try {
          const res = await fetch(`/api/images/${i}`);
          const data = await res.text();
          const img = new Image();
          img.src = 'data:image/webp;base64,' + data;
          img.style.paddingRight = '10px';
          document.body.append(img);
        } catch (e) {
          console.error(e);
        }
      }
    </script>
  </head>
  <body>
    <h1>Image view</h1>
    <img src="" alt="" class="img" />
  </body>
</html>
